<div class="row" id="header">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <h3>/r/worldnews Scraper</h3>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-6">
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/starred">Starred</a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 col-header">
        <a href="/scrape"><button class="btn btn-primary" id="scrapearticles">Scrape Articles</button></a>
    </div>
</div>