body { 
  background-color: #F2F6D0;
  /* font-family: 'Times New Roman', Times, serif !important; */
 }

 a {
   color: black;
 }

div {
  border: 1px black solid;
}

h3 {
  text-decoration: underline;
}

.fas-comment-alt,
.comment {
  margin-left: 5px !important;
  color: lightseagreen !important;
}

/* #wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
} */

#header {
  background-color: lightseagreen;
  color: white;
  padding: 10px;
}

#scrapearticles {
  margin-left: 5px !important;
  background-color: white !important;
  color: lightseagreen !important;
  padding: 5px;
  border: none;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}