body { 
  background-color: #F2F6D0;
  /* font-family: 'Times New Roman', Times, serif !important; */
 }


 a {
   color: lightseagreen !important;
   transition: color .5s;
 }

 a:hover,
 a:focus,
 a:target {
  color: rgb(89, 104, 98) !important;
 }

/* div {
  border: 1px black solid;
} */

h2 {
  font-size: 1.5rem !important;
}

h3 {
  text-decoration: underline;
}

textarea {
  height: 140px !important;
}

.fa-comment-alt,
.comment,
.fa-star, 
.star {
  margin-left: 5px !important;
  margin-right: 5px !important;
  color: lightseagreen !important;
}

.col-header {
  height: 100%;
}

a.nav {
  color: white !important;
  transition: color .5s;
}

a.nav:hover,
a.nav:focus,
a.nav:target {
 color: rgb(89, 104, 98) !important;
}


#header {
  background-color: lightseagreen;
  color: white;
  padding: 10px;
  align-items:center;
}

#scrapearticles {
  margin-left: 5px !important;
  background-color: white !important;
  color: lightseagreen !important;
  padding: 5px;
  border: none;
}

#scrapearticles:hover {
  margin-left: 5px !important;
  transition: background-color .5s;
  background-color: rgb(89, 104, 98) !important;
  color: lightseagreen !important;
  padding: 5px;
  border: none;
}

#articles {
  display: inline-block;
  overflow: auto;
  height: 660px;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

p.note {
  display: flex;
  justify-content: space-between;

}